body{
    margin: 0;
    font-family: "Inter", sans-serif;
    padding: 4rem 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff0f5;
    

}

h2{
    font-size: 2rem;
    color: #b91d73;
}

h3{
    margin: 0.5em 0;
    color: #b91d73;
}

ul{
    list-style-type:square;
    padding: 0;
    margin: 0;
}

.time-update{
    background-color: #f2709c;
    color:#fff;
    border-radius: 10px;
    width: 70%;
    padding: 0.2em 0.5em;
    margin: 1em auto;
}

li{
    color: #da4453;
    text-align: start;
}

[data-testid="test-user-bio"]{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    flex-wrap: wrap;
    margin: 0 1em;
}

[data-testid="test-profile-card"]{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #ffdde1;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-align: center;
    word-break: break-word;
    
}

[data-testid="test-user-avatar"]{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

[data-testid="test-user-social-links"] > a{
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;
    color: #da4453;

}

[data-testid="test-user-social-links"] > a:hover,
[data-testid="test-user-social-links"] > a:focus{
    color: #15020c;
}

[data-testid="test-user-hobbies"], [data-testid="test-user-dislikes"]{
    background-color: #fff0f5;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1em;
    word-break:keep-all
}


@media (min-width: 750px) {

    header{
       display: flex;
       align-items: center;
    }

    .hobbies-and-dislikes{
        display: flex;
        justify-content: space-evenly;

    }

    [data-testid="test-profile-card"]{
        width: 60%;
    }
}